@mixin mob {
    @media (max-width:460px) {
        @content;
    }
}
.register{
    height: 100vh;
    width: 100%;
    background: url("../../Images/pngwing.png") no-repeat 0 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(161, 179, 179);
    overflow-x: hidden;
    overflow-y: auto;
    @include mob {
        background: none;
        background-color: #739f65;
    }

}
.btnn-1{
        width: 140px;
        height: 45px;
        padding: 8px;
        color: white;
        background-color: rgb(26, 69, 44);
        border: none;
        &:hover{
            background-color: rgb(23, 47, 33); 
        }
    }


@media screen and (max-width:700px) {

    .register{
        height: auto;
 

    }
}



.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: var(--bs-nav-pills-link-active-color);
    background-color: var(--bs-nav-pills-link-active-bg);
}
.nav-pills .nav-link {
    border-radius: var(--bs-nav-pills-border-radius);
}
.text-dark {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-dark-rgb),var(--bs-text-opacity))!important;
}
.nav-link {
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    color: var(--bs-nav-link-color);
    text-decoration: none;
    background: 0 0;
    border: 0;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}
a {
    color: rgba(var(--bs-link-color-rgb),var(--bs-link-opacity,1));
    text-decoration: underline;
}
*, ::after, ::before {
    box-sizing: border-box;
}
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
user agent stylesheet
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
user agent stylesheet
li {
    text-align: -webkit-match-parent;
}
.nav-pills {
    --bs-nav-pills-border-radius: var(--bs-border-radius);
    --bs-nav-pills-link-active-color: #fff;
    --bs-nav-pills-link-active-bg: #0dfd95;
}

