@mixin mob {
    @media (max-width:650px) {
        @content;
    }
}




.register1 {

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-color: rgb(118, 230, 118);

    @include mob {
        background: none;
        background-color: #739f65;
    }
}

.labels {
    font-size: 12px;
}

.form-input {
    height: 30px !important;

    border: 1px solid rgb(123, 122, 122) !important;
    box-shadow: none !important;
    color: black !important;
}

.form-input1 {
    border: 1px solid rgb(123, 122, 122) !important;
    box-shadow: none !important;
    color: black !important;

}


.logoSignUp {
    width: auto;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    @include mob {
        font-size: 50px;
    }

}

.submitSignUp {
    display: flex;
    align-items: center;
    justify-content: center;

    >button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 110px;
        height: 40px;
        padding: 8px;
        color: white;
        background-color: rgb(22, 117, 62);
        border: none;
        border-radius: 10px;

        &:hover {
            background-color: rgb(23, 47, 33);
        }
    }



}

.signUp {
    background-color: #91ee78;
}

.sibnUpParent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;


}

.rowWidth {
    width: 35%;


    @include mob {

        width: 90%;
    }

}