.add-divice{
    border:none;
    outline: none;
    background:none;
    text-align: center;
    margin-left: 15px !important;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    
}